*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color-scheme: light dark;
}

body {
    background-color: #212121;
    width: 275px;
}


h1 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    vertical-align: middle;
}

s {
    color: red;
    text-decoration-thickness: 2px;
}

a {
    text-decoration: none;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .25rem 1.25rem;
}

#current_count {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 2.25rem;
    font-weight: 400;
    margin-right: .5rem;
    vertical-align: middle;
}

#line {
    width: 95%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    border-radius: 10rem;
}

#set_count_container {
    margin: 1.25rem 1rem;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    row-gap: 1.25rem;
}

input {
    width: 100%;
    padding: 0.25rem;
    border-radius: 5px;
    border: 1px solid #a3a3a3;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    background-color: #212121;
}

.option_container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}

.count_title {
    color: #a3a3a3;
    font-size: 1rem;
    text-align: right;
}

.count_type {
    color: #fff;
    font-size: 1rem;
    vertical-align: middle;
    font-weight: 300;
}