*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: light dark;
}

body {
    background-color: #212121;
    width: 300px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 17px;
    padding: 30px 50px 50px 50px;
}

h1 {
    color: white;
    font-size: 1rem;
    padding-top: 15px;
    padding-left: 20px;
}

h2 {
    font-size: 1.5rem;
    color: white;
    margin-right: 10px;
}

h3 {
    color: white;
}

p {
    color: #7d7d7d;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    /* padding: 10px;
    border: solid 3px white;
    box-shadow: .3rem 0.3rem 0 0 white; */
}

.toggle {
    --b1: 212 20% 50%;
    --bc: 220 15% 80%;
    --tglbg: hsl(var(--b1));
    --handleoffset: 1.5rem;
    --handleoffsetcalculator: calc(var(--handleoffset) * -1);
    /* makes it negative */
    --togglehandleborder: 0 0;
    flex-shrink: 0;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    border: 1px solid;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    background-color: hsl(var(--bc)/var(--tw-bg-opacity));
    border-radius: 1.9rem;
    transition: box-shadow .2s ease-in-out;
    /* this is the circle... */
    box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--tglbg) inset,
        0 0 0 2px var(--tglbg) inset,
        var(--togglehandleborder);
}

.toggle:checked {
    --handleoffsetcalculator: var(--handleoffset);
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
}